<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments::head" >

</head>

<body>
<div class="wrap">
    <header>
        <div class="logo" >
            <div th:replace="fragments::logo"></div></div>

    </header>
    <div class="content" >
        <div th:replace="fragments::login-btn-grp">

        </div>
    </div>
</div>

</div>
<div th:replace="fragments :: js"></div>
</body>

</html>