<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments::head" >

</head>

<div class="wrap">
    <header>
        <div th:replace="fragments::logo"></div>
        <div class="menu">
            <ul>
                <li><a th:href="@{/home}">Home</a></li>
                <li><a class="active" href="#">Outbreak</a> </li>
                <li><a th:href="@{/disease}">Diseases</a></li>
                <li><a th:href="@{/corona}">Corona</a></li>
            </ul>
        </div>

    </header>
    <div class="container">

        <br/><br/> <br/><br/> <br/><br/>
        <div class="jumbotron">
            <div th:replace="fragments::table-header"></div>

        </div>
        <div>
            <div th:replace="fragments::table"></div>

            <!--New Incident Modal Section -->
                    <div th:replace="fragments::new-incident"></div>

            <!--Edit Modal Section -->
            <div th:replace="fragments::edit-incident"></div>

            <!--New Delete Section -->
            <div th:replace="fragments::edit-incident"></div>

        </div>
    </div>
    <div th:replace="fragments::js"></div>
</div>
</body>

</html>